.about {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .image {
      img {
        height: 30rem;
        width: 60rem;
        object-fit: cover;
      }
    }

    .play {
      position: absolute;
      top: 30%;
      cursor: pointer;
      i {
        @include gradientText;
        font-size: 12rem;
      }
    }
  }
}
