$backgroundColorBlack: #0b0b0b;
$backgroundColorGrey: #181818;
$colorGreen: #45b649;
$colorWhite: white;
$colorGrey: #999999;
$colorTertiary: #818080;

$gradient: linear-gradient(to right, #c5e35b, #45b649);

$scrollToTopBgColor: #303030;
