// Colors
// Primary
$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);
$White: #fff;

// MIXINS
@mixin poppins($weight, $size) {
  font-family: 'Poppins', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin openSans($weight, $size) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin buttonShadow {
  box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 3px 13px 1px rgba(0, 0, 0, 0.15);
}
